@charset "UTF-8";
/* CSS Document */

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}

.header, .main {
    margin-top: 50px;
}

.grid-img {
    max-width: 100%;
    padding-bottom: 30px;
}