<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://use.typekit.net/tjk6djf.css">
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body>

    <div class="container-fluid container-header">
    
        <div class="row">
        
            <div class="col-4">
            
                <h1>
                    <a href="/">
                        <img src="/images/rsda-logo-lower.png" alt="{{ page.title }}" class="header-logo">
                    </a>
                </h1>
            
            </div>
            
            <div class="col-4 row align-items-end">
            
                <p class="header-text">
                    rsda is a design archive with a special focus on nineteenth century Portuguese graphic design and illustration. Maintained by Ricardo Santos.
                </p>
            
            </div>
        
        </div>
    
    </div>
    
    <div class="container-fluid sub-header-0" id="sub-header-0-id" onclick="javascript:changeBackground();">
    
       <div class="row">
        
            <div class="col-6">
            
                <a class="sub-header-link-0" data-toggle="collapse" href=".sub-headers-collapse">Browse the archive</a>
            
            </div>
        
        </div>
        
    </div>
    
    <div class="container-fluid sub-header-1 collapse sub-headers-collapse">  
        
        <div class="row">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="/authors.html">by authors</a>
            
            </div>
        
        </div>
        
    </div>
    
    <div class="container-fluid sub-header-2 collapse sub-headers-collapse">
        
        <div class="row">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="/origins.html">by origins</a>
            
            </div>
        
        </div>
        
    </div>
    
    <div class="container-fluid sub-header-5 collapse sub-headers-collapse">
        
        <div class="row">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="/years.html">by years</a>
            
            </div>
        
        </div>
        
    </div>
    
    <div class="container-fluid sub-header-3 collapse sub-headers-collapse">
        
        <div class="row">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="/types.html">by types</a>
            
            </div>
        
        </div>
        
    </div>
    
    <div class="container-fluid sub-header-4 collapse sub-headers-collapse">
        
        <div class="row">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="/tags.html">by tags</a>
            
            </div>
        
        </div>
    
    </div>
    
    
    
    
    
  