<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://use.typekit.net/tjk6djf.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">

</head>

<body>

    <div class="container-fluid container-header">
    
        <div class="row">
        
            <div class="col-6">
            
                <h1>
                    <a href="/">
                        <img src="/images/rsda-logo-lower.png" alt="{{ page.title }}" class="header-logo">
                    </a>
                </h1>
            
            </div>
        
        </div>
    
    </div>

    <div class="container-fluid">
    
       <div class="row  sub-header-0" id="sub-header-0-id" onclick="javascript:changeBackground();">
        
            <div class="col-6">
            
                <a class="sub-header-link-0" data-toggle="collapse" href=".sub-headers-collapse">Browse the archive</a>
            
            </div>
        
        </div>
       
        <div class="row sub-header-1 collapse sub-headers-collapse">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="">Browse by authors</a>
            
            </div>
        
        </div>
        
        <div class="row sub-header-2 collapse sub-headers-collapse">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="">Browse by place of origin</a>
            
            </div>
        
        </div>
        
        <div class="row sub-header-5 collapse sub-headers-collapse">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="">Browse by year</a>
            
            </div>
        
        </div>
        
        <div class="row sub-header-3 collapse sub-headers-collapse">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="">Browse by type</a>
            
            </div>
        
        </div>
        
        <div class="row sub-header-4 collapse sub-headers-collapse">
        
            <div class="col-6">
            
                <a class="sub-header-link" href="">Browse by tags</a>
            
            </div>
        
        </div>
    
    </div>
    
  