<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ page.name }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://use.typekit.net/tjk6djf.css">
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body>

    <div class="container-fluid container-header">
    
        <div class="row">
        
            <div class="col-12 col-sm-6 col-lg-4">
            
                <h1 class="rsda">
                    <a href="/">
                        <img class="header-logo" src="/images/rsda-logo-lower.png" alt="rsda">
                    </a>
                </h1>
            
            </div>
        
        </div>
    
    </div>
    
    <div class="container-fluid sub-header-exp">  
        
        <div class="row">
        
           <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-artifacts">
            
                <a class="sub-header-link-exp first" href="/artifacts.html">artifacts</a>
            
            </div>
           
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-authors">
            
                <a class="sub-header-link-exp" href="/authors.html">authors</a>
            
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-origins">
            
                <a class="sub-header-link-exp" href="/origins.html">origins</a>
            
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-years">
            
                <a class="sub-header-link-exp" href="/years.html">years</a>
            
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-types">
            
                <a class="sub-header-link-exp" href="/types.html">types</a>
            
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 sub-header-exp-col col-tags">
            
                <a class="sub-header-link-exp" href="/tags.html">tags</a>
            
            </div>
        
        </div>
        
    </div>
    
    
    
    
    
  